<h1>ログイン</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
  <div>
    <%= form.label :email ,User.human_attribute_name(:email) %>
  </div>
  <div>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password ,User.human_attribute_name(:password) %>
  </div>
  <div>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "ログイン"%>
  </div>
<% end %>
