<%= form_with(model: @user, local: true) do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, placeholder: "名前" %>
  </div>

  <div>
    <%= form.email_field :email, placeholder: "メールアドレス" %>
  </div>

  <div>
    <%= form.password_field :password, placeholder: "パスワード" %>
  </div>

  <div>
    <%= form.password_field :password_confirmation, placeholder: "パスワード確認" %>
  </div>

  <div>
    <%= form.label :profile_image %>
  </div>
  <div>
    <%= form.file_field :profile_image %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
