<h2><%= @user.name %>さんのプロフィール</h2>

<% if @user == current_user %>
  <div>メールアドレス: <%= @user.email %></div>
<% end %>

<div><%= image_tag @user.profile_image.url if @user.profile_image? %></div>

<% if @user == current_user %>
  <%= link_to '編集', edit_user_path(@user), class: "btn btn-success" %>
<% end %>
<%= link_to '一覧に戻る', pictures_path, class: "btn btn-secondary" %>
