<h1>投稿一覧</h1>

<table>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.user.name %></td>
        <td><img src="<%= picture.image %>" id="picture_image"></td>
        <td><%= picture.content %></td>
        <td><%= link_to '詳細', picture %></td>
        <% if picture.user == current_user %>
          <td><%= link_to '編集', edit_picture_path(picture) %></td>
          <td><%= link_to '削除', picture, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_picture_path %>
