<h2>投稿一覧</h2>

<% @pictures.each do |picture| %>
  <div class = "picture-contents">
    <div class = "picture-item1"><%= picture.user.name %></div>
    <% if picture.image? %>
      <div class = "picture-item2"><img src="<%= picture.image %>" id="picture_image"></div>
    <% else %>
      <div class = "picture-item2">画像無</div>
    <% end %>
    <div class = "picture-item3"><%= picture.content %></div>
    <div class = "picture-item4"><%= link_to '詳細', picture, class: "btn btn-info" %></div>
    <% if picture.user == current_user %>
      <div class = "picture-item5"><%= link_to '編集', edit_picture_path(picture), class: "btn btn-success" %></div>
      <div class = "picture-item6"><%= link_to '削除', picture, method: :delete, data: { confirm: '本当に削除しますか？' } ,class: "btn btn-danger" %></div>
    <% else %>
      <div class = "picture-item5"></div>
      <div class = "picture-item6"></div>
    <% end %>
  </div>
<% end %>

<%= link_to '新規投稿', new_picture_path, class: "btn btn-primary" %>
