<%# TODO：投稿者の画像を表示させる?横並びにできるなら %>
<p>
  <strong>投稿者:</strong>
  <%= @picture.user.name %>
</p>

<% if @picture.image? %>
  <p><%= image_tag @picture.image.url%></p>
<% end %>

<p><%= @picture.content %></p>

<% if @picture.user == current_user %>
  <%= link_to '編集', edit_picture_path(@picture) %> |
<% end %>
<%= link_to '一覧に戻る', pictures_path %>
