<%# TODO：投稿者の画像を表示させる?横並びにできるなら %>
<p>
  <strong>投稿者:</strong>
  <%= @picture.user.name %>
</p>

<% if @picture.image? %>
  <p><%= image_tag @picture.image.url%></p>
<% end %>

<p><%= @picture.content %></p>

<%# TODO:お気に入りボタンの装飾 ハートアイコンとか？%>
<div>
  <% unless @picture.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= button_to "お気に入り解除", favorite_path(id: @favorite.id), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= button_to "お気に入り登録", favorites_path(picture_id: @picture.id), method: :post, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<% if @picture.user == current_user %>
  <%= link_to '編集', edit_picture_path(@picture) %> |
<% end %>
<%= link_to '一覧に戻る', pictures_path %>
