<!DOCTYPE html>
<html>
  <head>
    <title>写真共有アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="login_status">
      <% if logged_in? %>
        <div>
          <%= link_to "プロフィール", user_path(current_user.id) %>
          <%= link_to "お気に入り一覧", favorites_path %>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
        </div>
        <p>ようこそ<strong><%= current_user.name%></strong>さん</p>
        <% if current_user.profile_image? %>
          <p><img src="<%= current_user.profile_image %>" id="profile_image"></p>
        <% end %>
      <% else %>
        <div>
          <%= link_to "アカウント登録", new_user_path %>
          <%= link_to "ログイン", new_session_path %>
        </div>
      <% end %>
    </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
